/* Lato Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
*{
  margin: 0;
  padding: 0;
}
a{
  color: #a3aed0;
}